<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BurningMan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/History.css" />


    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Faster+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper amber darken-2">
                @Html.ActionLink("Burning Man", "Index", new { controller = "Home" }, new { @class = "brand-logo center" })
                @*<a href="#" class="brand-logo center">BurningMan</a>*@

                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Profile", "MyProfile", "Account")</li>
                        if (User.Identity.Name == "admin@gmail.com")
                        {
                            <li>@Html.ActionLink("History", "OrderHistory", "Manage")</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Sign Up", "SignUp", "Registration")</li>
                        <li>@Html.ActionLink("Log in", "Login", "Registration")</li>
                    }
                </ul>
            </div>
        </nav>
        <br />
        <br />
    </header>
    @*<div class="container">
        <main role="main" class="pb-6">*@
            @RenderBody()
        @*</main>
    </div>*@

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BurningMan - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
